<section class="midstarwars">

    <div class="card-sw" *ngIf="movies">
        <div class="card-head">
            <h3> SWFLIX </h3>
            <div class="lateralbutton">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-jedi-order"></i>
                <i class="fab fa-first-order"></i>
            </div>
        </div>
        <div class="card-infos">
            <div class="title">
                <h1 > {{movies[0]['title']}}
                </h1>
                <div class="score">
                <div class="icon">
                    <i class="fab fa-jedi-order"></i>
                </div>
                <h3 class="realscore">7<span>/10</span></h3>
            </div>
            </div>

            <div class="movie-description">
                {{movies[0]['opening_crawl']}}

            </div>
            <p>
                <b> Director:  {{movies[0]['director']}}</b>
            </p>
            <p>
                <b> Producer: {{movies[0]['producer']}}</b>
            </p>
            <p>
                <b> Release Date: {{movies[0]['release_date'] | date}}</b>
            </p>

            <div class="button watch-netflix">Watch on SWFLIX</div>
        </div>
        <div class="bottomshadow"></div>
    </div> 

</section>