section.people{
    
    display: flex;
    height: 130px;
    width: 800px;
    flex-wrap: wrap;
}
.people > div {
    background: #E91E63;
    border-radius: 3px;
    color: white;
    height: 20px;
    font-size: 12px;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    margin-right: 4px;
}